.border{
  border: 1px
}

.row{
  margin-top: 2em;
}

.navbar {
background: rgb(238,238,238);
background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}

body{background: #eee url(/public/images/fabric_of_squares_gray.png);
}

html,body{
    position: relative;
    height: 100%;
    color: #3b3f44;
}
