<div class="row justify-content-md-center ">
  <div class="col-sm-8 ">
    <div class="jumbotron">
      <h1 class="display-4">MyOutfits</h1>
      <%if @user.outfits.empty?%>
        <div class="alert alert-warning" role="alert">
          You have no outfits to show, click below to create your first outfit
        </div>
      <% else %>
        <p>Choose an Outfit:</p>
        <%@user.outfits.each do |outfit|%>
        <ul class="list-group">
          <li class="list-group-item"><a href="/outfits/<%=outfit.id%>/<%=outfit.slug%>"><%=outfit.name.capitalize%></a></li>
        </ul>
        <%end%>
       <% end %>
       <div class="top-buffer-xs">
         <p class="top-buffer-xs"><a class="link-button btn btn-info btn-block link-button" href="/outfits/new">Create New Outfit</a></p>
       </div>
    </div>
  </div>
</div>
