<h1><%=@outfit.name%></h1>

<% @outfit.items.each do |item| %>
  <ul>
  <li><a href="/items/<%=item.id%>"><%=item.name%></a></li>
</ul>
<%end%>

<a href="/outfits/<%=@outfit.id%>/edit">Edit Outfit</a>
