
<h2>Welcome <%=@user.username%></h2>

<h3>What would you like to do today?</h3>

<ul>
  <li><a href="/outfits">view my outfits</a></li>
  <li><a href="/outfits/new">create new outfit</a></li>
  <li><a href="/items/new"></a>add items</li>
</ul>
