<div class="row justify-content-md-center ">
  <div class="col-sm-8 ">
    <div class="jumbotron">
      <h1 class="display-4">Signup Error</h1>
      <p>The email adress you provided is already in use. Please login or signup with a different email adress.</p>
      <p class="top-buffer-xs"><a class="link-button btn btn-info btn-block link-button" href="/login">Log In</a></p>
      <p class="top-buffer-xs"><a class="link-button btn btn-info btn-block link-button" href="/signup">SIgn Up</a></p>
    </div>
  </div>
</div>
