<h1>Create Item</h1>

<form action="/items" method="POST">
  <label>Name</label><br>
  <input type="text" name="name" /><br>
  <label>Category</label><br>
  <select name="category">
  <option value="shirt">Shirt</option>
  <option value="coat">Coat</option>
  <option value="jacket">Jacket</option>
  <option value="pants">Pants</option>
  <option value="shoes">Shoes</option>
  <option value="accessories">Accessories</option>
</select><br>
  <label>Type</label><br>
  <input type="text" name="item_type" /><br>
  <label>Color</label><br>
  <input type="text" name="item_type" /><br>

  <input type="submit" value="Create New Item">
</form>
